/*aタグやh1タグ等の汎用css*/
html {
  font-family: serif;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}
h1 {
  font-size: 120px;
  text-align: center;
  padding: 50px 0;
}
h2 {
  font-size: 60px;
  line-height: .8em;
  padding-top: 1em;
  text-align: center;
}
.paragraph {
  font-size: 20px;
}
.paragraph-s {
  font-size: 31px;
}
h2 span {
  font-size: 20px;
}
a {
  text-decoration: none;
}
a:visited{
    color: #000;
}
.sp-br {
    display: none;
  }