#g-navi{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 10;
    /*ナビのスタート位置と形状*/
  top:0;
  right: -100%;
  width:100%;
  height: 100vh;/*ナビの高さ*/
  background:rgba(0, 0, 0, 0.9);
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-navi.panelactive{
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-navi.panelactive #g-navi-list{
    /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
}

/*ナビゲーション*/
#g-navi ul {
    /*ナビゲーション天地中央揃え*/
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-navi li{
  color: #ccc;
  list-style: none;
  text-align: center;
  margin: 30px;
  font-size: 50px;
}
#g-navi li span{
  display: block;
  font-size: 14px;
}
#g-navi li a{
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}
#g-navi li a:active {
  color: #333;
}
