@use 'variables' as var;
#slider1.slider {
  li {
    position: relative;
    p {
      background: rgba(63,61,86,0.7);
      width: 100vw;
      text-align: center;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
#slider1 .slick-slide {
  img {
    width: 100vw;
   
  }
}
/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: 1px solid var.$base-color;
    height: 4rem;
    width: 4rem;
    background-color: var.$sub-color;
}
.slick-prev::after {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: rotate(-90deg);
    content: "";
    width: 2rem;
    height: 2rem;
    border-top: 1px solid var.$accent-color2;
    border-right: 1px solid var.$accent-color2;

}
.slick-next::after {
    position: absolute;
    top: 25%;
    left: 25%;
    content: "";
    width: 2rem;
    height: 2rem;
    border-top: 1px solid var.$accent-color2;
    border-right: 1px solid var.$accent-color2;
}
.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-45deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
	text-align: center;
	margin-top: 3rem;        //ドットナビゲーションの位置
}
.slick-dots li {
	display: inline-block;
	margin: 0 0.2rem;
}
.slick-dots button {
	color: transparent;
	outline: none;
	width: 2.5rem;
	height: 0.6rem;
	display: block;
	border-radius: 3px;
	background: #fff;
}
.slick-dots .slick-active button {
	background: #666;
}